<%- include("../cabecalho") %>
<link rel="stylesheet" type="text/css" href="/public/css/style.css" />
<div class="container-nosso">
<div id="calendario">
<p>
	INSERIR

	RESULTADO: <%= msg %>
</p>
</div>
</div>
<%- include("../rodape") %>
