#estilonav{
    float: left;
    padding: 0px;
    display: flex;
    margin-top: 2%;
    list-style: none;
    max-height: 30px;
    margin-left: 24px;
    
}
/* NavBar configurações */
a{
    padding: 20px;
}
li a {
    color: rgb(189, 189, 189);
}
.active {
    color: rgb(0, 0, 0);
}

li a:hover {
    color: rgb(0, 0, 0);
}


.centro{
    padding-left:15%;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    list-style: none;
   

    
}

/* CSS da página de profissionais */

header{
  /* border-bottom: 1px solid #dddddd;  */
  padding: 27px;
  margin-right: 100px;
  height: 70px;
  max-height: 200px;
  float:right;
  width: 855px;
  
}

.button {
  display: flex;
  border: solid;
  color:black;
  padding: 0px;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  width: 130px;
  height: 100px;

}

.button1 {background-color: #a0caa2;}  
.button2 {background-color: #46b3d7;
} 

.button1:hover {
  background-color: #8feb92;
}

table, th, td {
  padding: 5px;
  padding-left: 60px;
  margin-left: 270px;
  border-collapse: collapse;
  width: 900px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd ;
}
tr:hover {
  background-color: #ddd;
  z-index: 100;
}

tr:nth-child(even) {   /*cor da alternância das linhas da tabela */
  background-color: #dddddd2b; 
} 
tr:nth-child(even):hover {
  background-color: #ddd;
}
tr:first-child:hover {
  background: none; /* tiramos o hover da 1ª linha */
}

#menu {
  float: left;
  display: flex;
  width: 210px;
  height: 565px;
  max-height: 1920px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #dddddd;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  position: fixed;
}

.barra_texto {
  background: #dddddd url("lupa.png") top left no-repeat;
  background-size: 18px;
  border: 1px solid #dddddd;
  border-radius: 0.3cm;
  border-style: hidden;
  width: 168px;
  height: 24px;
  padding-left: 30px;
}

#filtro {
  border: 1px;
  cursor: pointer;
  background: none;
}

.quadrado_verde {
  background-color: #a0caa2;
  border-radius: 0.1cm;
  opacity: 0.9;
  padding-right: 10px;
  padding-left: 10px;
}

.quadrado_vermelho {
  background-color: #d17c7c;
  border-radius: 0.1cm;
  opacity: 0.9;
  padding-right: 10px;
  padding-left: 10px;
}

.quadrado_azul {
  background-color: #96cdd6;
  border-radius: 0.1cm;
  opacity: 0.9;
  padding-right: 10px;
  padding-left: 10px;
}